.divStars
{
    width:1rem;
    height:1rem;
    background-color: rgb(236, 236, 236);
    position: absolute;
    border-radius: 50%;
    animation-name: blinkStar;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinkStar {
    50%{
        opacity: 0.3;
    }
}