
@media only screen and (max-width:600px){

    .divSkillsDescription{
max-width:90vw;
}
.divContainerSkills00{
    flex-flow: column nowrap;
}

.divContainerParagraphSkill00 {

  max-width: 95vw;

}

}