.divContainerOptionLayout {
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(15, 33, 44);
  border-bottom: solid 0.1rem rgb(32, 59, 55);
}

.divContainerOptionLayout > h1 {
  font-size: 1.5rem;
  font-family: "Goldman", cursive;
  font-weight: 700;
  background-color: Transparent;
  color: rgb(56, 80, 99);
}

.divContainerLayout01 {
  padding: 1rem 0 0 0;
  width: 99vw;
  justify-content: center;
  gap: 1rem;
}

.divContainerListLayout > h2 {
  font-size: 1.4rem;
  font-family: "Goldman", cursive;
  font-weight: 700;
  background-color: Transparent;
  color: rgb(56, 80, 99);
  cursor: pointer;
  margin: 0.5rem 0 0 0;
  border: 0.15rem solid rgb(62, 87, 107);
  padding: .5rem 2rem .5rem 2rem;
}

.divContainerListLayout > h2 :hover {
  color: rgb(81, 112, 138);
}
