@media only screen and (max-width: 600px) {
  .divContainerDemos01 {
    min-height: 54rem;
  }
.divContainerSelectionDemos00{
  flex-flow: column nowrap;
  align-items: center;
}

.divContainerTitleDemos{
  flex-flow: column nowrap;
}

.divContainerRadio00{
  filter: brightness(0.5);
  position: relative;
width:15rem;
height: 10rem;

}
}
