footer{
    
    display: flex;
    justify-content: center;


    background-color: rgb(27, 24, 24);
  
}

footer > h3{
    padding: 3rem 0 1rem 0 ;
    color: rgb(160, 160, 160);
    font-weight: 600;
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}