.divContainerSea{
    width:100%;
  display: flex;
  align-items:center;
    height: auto ;
    position: relative;
    z-index: 0;

}
.divContainerSky{
    width:99vw;
    height: 25rem;
    position: relative;
}
.divContainerMoon{
   top:2rem;
    left:40vw;
    width:4.5rem;
    height: 4.5rem;
    position: absolute;
    box-shadow: 0 0 14.8rem 4rem rgba(224, 224, 224, 0.781),  0 0 9.5rem 0.2rem rgba(243, 241, 241, 0.76),
    inset 0 0 0.8rem 0.2rem rgba(243, 241, 241, 0.623);
    border-radius: 50%;
    animation-name: moonLight;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 49;
}

@keyframes moonLight {
    50%{
        box-shadow: 0 0 15rem 3.9rem rgba(224, 224, 224, 0.753),  0 0 10rem 0.2rem rgba(243, 241, 241, 0.74),
        inset 0 0 1rem 0.2rem rgba(243, 241, 241, 0.671);
    }
}


.divContainerMoon::before{
    content: '';
    width:4.5rem;
    height: 4.5rem;
z-index: 50;
background-color: rgba(235, 235, 235, 0.61);
border-radius: 50%;
position: absolute;
left:0rem;
animation-name: moonLightBefore;
animation-duration: .3s;
animation-iteration-count: infinite;
}

@keyframes moonLightBefore {
    50%{
        background-color: rgba(235, 235, 235, 0.63);   
    }
}
.divContainerBeat{
    width:99vw;
    display: flex;
    justify-content: center;
    height: 20rem;
  transform: translate(0, -4rem);
    left:0;
    position: absolute;
    z-index: 15;
}

header{

    background-image: url('../../img/stars.png');
    width:99vw;
    min-height:10rem;
    
/*     background: linear-gradient(180deg, rgb(19, 28, 39) 16%, rgb(42, 58, 65) 47%, rgb(47, 88, 122) 90%); */
    /* background: linear-gradient(180deg, rgb(204, 220, 240) 16%, rgb(160, 218, 240) 47%, rgb(86, 160, 221) 90%); */
  overflow: hidden;
  }


  .divContainerSeaEnd{
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 0;
  }